# __TelecomX - Parte 2: Modelo de prediccion de cancelaciones__

# Objetivos

- Preparar los datos para el modelado (tratamiento, codificación, normalización).

- Realizar análisis de correlación y selección de variables.

- Entrenar dos o más modelos de clasificación.

- Evaluar el rendimiento de los modelos con métricas.

- Interpretar los resultados, incluyendo la importancia de las variables.

- Crear una conclusión estratégica señalando los principales factores que influyen en la cancelación.

# Entregables

- Analisis completo de los datos.

- Exportar modelo final.

- Informe con los hallazgos y recomendaciones.

# Preparacion de los datos

## Carga y exploracion

In [1]:
# libreria
import pandas as pd

In [2]:
# cargar datos previamente tratados desde github
data = pd.read_csv('https://raw.githubusercontent.com/jbernalg/challenge_TelecomX/refs/heads/main/data_out/datos_tratados.csv', sep=',')
data.head()

,cancelacion,genero,jubilado,en_pareja,dependientes,meses_contrato,servicio_telefonico,multiples_lineas,servicio_internet,seguridad_online,...,proteccion_dispositivo,soporte_efectivo,streaming_TV,streaming_peliculas,tipo_contrato,facturacion_electronica,metodo_pago,cuenta_mensual,cuentas_total,cuentas_diarias
0,0,Femenino,No,Si,Si,9,Si,No,DSL,No,...,No,Si,Si,No,un year,Si,cheque por correo,65.6,593.30,0.242963
1,0,Masculino,No,No,No,9,Si,Si,DSL,No,...,No,No,No,Si,mes a mes,No,cheque por correo,59.9,542.40,0.221852
2,1,Masculino,No,No,No,4,Si,No,Fibra_optica,No,...,Si,No,No,No,mes a mes,Si,cheque electronico,73.9,280.85,0.615833
3,1,Masculino,Si,Si,No,13,Si,No,Fibra_optica,No,...,Si,No,Si,Si,mes a mes,Si,cheque electronico,98.0,1237.85,0.251282
4,1,Femenino,Si,Si,No,3,Si,No,Fibra_optica,No,...,No,Si,Si,No,mes a mes,Si,cheque por correo,83.9,267.40,0.932222

In [3]:
# informacion de cada variable
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cancelacion              7032 non-null   int64
 1   genero                   7032 non-null   object
 2   jubilado                 7032 non-null   object
 3   en_pareja                7032 non-null   object
 4   dependientes             7032 non-null   object
 5   meses_contrato           7032 non-null   int64
 6   servicio_telefonico      7032 non-null   object
 7   multiples_lineas         7032 non-null   object
 8   servicio_internet        7032 non-null   object
 9   seguridad_online         7032 non-null   object
 10  respaldo_online          7032 non-null   object
 11  proteccion_dispositivo   7032 non-null   object
 12  soporte_efectivo         7032 non-null   object
 13  streaming_TV             7032 non-null   object
 14  streaming_peliculas      7032 non-null   object
 15  tipo_contrato            7032 non-null   object
 16  facturacion_electronica  7032 non-null   object
 17  metodo_pago              7032 non-null   object
 18  cuenta_mensual           7032 non-null   float64
 19  cuentas_total            7032 non-null   float64
 20  cuentas_diarias          7032 non-null   float64
dtypes: float64(3), int64(2), object(16)
memory usage: 1.1+ MB

In [5]:
# distribucion de cancelacion
data['cancelacion'].value_counts(normalize=True)*100

cancelacion
0    73.421502
1    26.578498
Name: proportion, dtype: float64

La proporcion de la variable objetivo es la siguiente:

> 73.42% de los clientes se mantienen en la empresa

> 26.57% de los clientes abandonan la empresa

> Se evidencia un desequilibrio entre los clientes que permanecen y abandonan la empresa. Debe ser tratado.

## Limpiar los datos