# __Challenge TelecomX ML__

## Librerias

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Cargar datos

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/jbernalg/challenge_TelecomX/refs/heads/main/data_out/datos_tratados.csv', sep=',')
data.head()

   cancelacion     genero  ... cuentas_total cuentas_diarias
0            0   Femenino  ...        593.30        0.242963
1            0  Masculino  ...        542.40        0.221852
2            1  Masculino  ...        280.85        0.615833
3            1  Masculino  ...       1237.85        0.251282
4            1   Femenino  ...        267.40        0.932222

[5 rows x 21 columns]

## Encoding

In [4]:
# seleccionar variables categoricas
columns_cat = data.select_dtypes(include='object').columns
print(columns_cat)

Index(['genero', 'jubilado', 'en_pareja', 'dependientes',
       'servicio_telefonico', 'multiples_lineas', 'servicio_internet',
       'seguridad_online', 'respaldo_online', 'proteccion_dispositivo',
       'soporte_efectivo', 'streaming_TV', 'streaming_peliculas',
       'tipo_contrato', 'facturacion_electronica', 'metodo_pago'],
      dtype='object')

In [5]:
# aplicamos get_dummies para llevar variables categoricas a numericas
df = pd.get_dummies(data, drop_first=True)
df.sample(5)

      cancelacion  ...  metodo_pago_transferencia
1208            0  ...                       True
3586            1  ...                      False
2295            0  ...                      False
3099            0  ...                      False
4329            0  ...                      False

[5 rows x 26 columns]

> El dataframe pasa de 21 a 26 variables debido al uso del metodo get_dummies.

> El metodo get_dummies identifica si los valores de las variables son datos unicos y de ser asi los convierte en una nueva columna.

## Proporcion de la variable objetivo

In [6]:
df['cancelacion'].value_counts(normalize=True)

cancelacion
0    0.734215
1    0.265785
Name: proportion, dtype: float64

> En teoria la proporcion minima de la clase minoritaria es de 40%. Para este caso, vemos que la proporcion de la clase minoritaria es del 26% lo que indica un gran desbalance entre las clases que podria sesgar el modelo al entrenarlo.

## Balanceo de las clases

Vamos a utilizar el metodo SMOTE el cual consiste en sintetizar nueva informacion a partir de la informacion existente. Tales datos sinteticos son relativamente cercanos a los datos reales, pero no son identicos

In [7]:
from imblearn.over_sampling import SMOTE

X = df.drop('cancelacion', axis=1)
y = df['cancelacion']

smote = SMOTE(random_state=42)
X_res, y_res = smote.fit_resample(X, y)

In [ ]:
# mostrar dimension de las variables
print(X_res.shape)
print(y_res.shape)

(10326, 25)
(10326,)

> Las clases quedan balanceadas, con la misma cantidad de registros.